.social-login
    button.social-login--github
        span
            i.fab.fa-github  Continue with Github
    button.social-login--google
        span
            i.fab.fa-google  Continue with Google