body {
  background-color: var(--clr-background);
  height: 100vh;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

button {
  padding: 7px;
  border: none;
  color: var(--clr-text);
  background-color: var(--clr-lightGrey);
}

.none {
  display: none !important;
}
.block {
  display: block !important;
}

.hidden {
  display: none;
}

.open-dropdown {
  display: block;
}
.share__show {
  display: block;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

// .hidden {
//   display: none;
// }
