.advise-login-container {
  position: absolute;
  top: 20px;
  right: 0px;
  .advise-login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--clr-text);
    background-color: var(--clr-modal);
    box-shadow: 0 1px 5px var(--clr-boxShadow);
    width: 230px;
    height: 120px;
    border-radius: 2px;
    padding: 15px 0px;
    h3 {
      margin: 0px 15px;
    }
    p {
      color: var(--clr-subtext);
      font-size: 13px;
      margin: 0px 15px;
    }
    .advise-login-border {
      width: 100%;
      height: 1px;
      background-color: var(--clr-subtext);
    }
    a {
      color: var(--clr-blue);
      margin: 0px 15px;
    }
  }
}

.hidden {
  display: none;
}
