.sidebar__container-mini {
  z-index: 99;
  width: 70px;
  height: 100vh;
  background-color: var(--clr-sideBar);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 25px;
  overflow: hidden;

  table {
    position: relative;
    margin-top: 30px;
    tr {
      &:hover {
        background-color: rgba(100, 100, 100, 0.1);
      }
      &:first-child {
        td {
          color: var(--clr-iconHover);
        }
      }
      td {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 5px;
        font-size: 10px;
        color: var(--clr-icon);
        cursor: pointer;
        i {
          font-size: 14px;
          margin-bottom: 7px;
        }
        span {
          transform: scaleX(0.95);
        }
      }
    }
  }
}

.sidebar__container {
  z-index: 100;
  width: 270px;
  background-color: var(--clr-sideBar);
  // height: 100vh;
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  padding-top: 55px;
  overflow: hidden;
  i {
    cursor: pointer;
    font-size: 16px;
  }
  .sidebar-rows {
    width: 100%;
    margin-top: 7px;
    padding: 5px 100px 5px auto;
    &:hover {
      overflow: visible;
    }
    .sidebar-row {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-self: center;
      padding: 12px 80px 12px 20px;
      span {
        color: var(--clr-text);
      }
      > &:first-child {
        background-color: var(--clr-lightGrey);
        i {
          color: var(--clr-icon);
        }
        span {
          font-weight: 600;
        }
      }
      &:hover {
        background-color: var(--clr-background);
      }
      i {
        margin-right: 25px;
        width: 20px;
        text-align: center;
      }
      span {
        font-size: 14px;
      }
    }
  }
  .sidebar-row__divide {
    @include rowDivide;
  }
  .sidebar-row__category {
    color: var(--clr-text);
    font-size: 14px;
    font-weight: 600;
    margin: 20px;
  }
}

@media (max-width: 1056px) {
  .sidebar__container,
  .sidebar__container-mini {
    display: none;
  }
  .wrap {
    grid-column: 1/-1;
  }
}

@media (min-width: 1056px) and (max-width: 1730px) {
  .sidebar__container-mini {
    display: block;
  }
  .sidebar__container {
    display: none;
  }
}

@media (min-width: 1730px) {
  .sidebar__container-mini {
    display: none;
  }
  .sidebar__container {
    display: block;
  }
}

@media (max-width: 1200px) {
  .sidebar__container {
    position: fixed;
  }
}
