.sidebar__container-mini {
  table {
    position: relative;
    tr {
      &:hover {
        background-color: rgba(100, 100, 100, 0.1);
      }
      &:first-child {
        td {
          color: red;
        }
      }
      td {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 3px;
        font-size: 10px;
        color: $grey;
        cursor: pointer;
        i {
          font-size: 14px;
          margin-bottom: 7px;
        }
        span {
          transform: scaleX(0.95);
        }
      }
    }
  }
}

.sidebar__container {
  height: 100vh;
  display: none;
  position: relative;
  background-color: #fff;
  padding-top: 10px;
  color: $grey;
  i {
    cursor: pointer;
    font-size: 14px;
  }
  .sidebar-rows {
    width: 100%;
    padding: 5px 100px 5px auto;
    .sidebar-row {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-self: center;
      padding: 15px 80px 15px 20px;
      &:first-child {
        background-color: $lightGrey;
      }
      &:hover {
        background-color: $bgColor;
      }
      i {
        margin-right: 10px;
      }
      span {
        font-size: 13px;
      }
      &:nth-child(3) {
        border-bottom: 1px solid $lightGrey;
      }
    }
  }
}
