.videoPlayer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  &:hover {
    .videoPlayer__btn-lg,
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 1300px;
  }
  &__btn-lg {
    opacity: 0;
    position: absolute;
    font-size: 52px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s linear;
  }
  &__controls {
    transition: all 0.3s linear;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    flex: 1;
    padding-bottom: 2px;
    .progress {
      flex: 10;
      position: relative;
      display: flex;
      flex-basis: 100%;
      height: 5px;
      transition: height 0.3s;
      background: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      cursor: pointer;
      &-bar {
        width: 50%;
        // background: #ffc600;
        background-color: var(--clr-logo);
        flex: 0;
        flex-basis: 0%;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 10px;
    color: rgba(255, 255, 255, 0.7);
    &-left {
      display: flex;
      align-items: center;
      i {
        margin: 0px 5px;
        width: 14px;
      }
      input {
        display: none;
      }
    }
  }
  &__volume {
    display: flex;
    align-items: center;
    margin-right: 7px;
    &:hover {
      input {
        display: block;
      }
    }
  }
  &__time {
    margin: 0px 3px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 7px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  // border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type="range"]::-webkit-slider-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.7);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  // border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type="range"]::-moz-range-thumb {
  // box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}
