extends layouts/main

block content
    .form-container
        form(action=routes.users+routes.editProfile, method="post", enctype="multipart/form-data")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar", accept="image/*")
            input(type="name", name="name", value=loggedUser.name)
            input(type="email", name="email", value=loggedUser.email)
            input(type="submit", value="Save")
        a(href=routes.users+routes.changePassword) Change password