extends layouts/main
include mixins/videoBlock

block content
    .video-container#homeContainer-js
        .video-wrap#videoWrap-js
            each video in videos
                +videoBlock({
                    id: video.id,
                    title: video.title,
                    thumbnail: video.thumbnailFile,
                    creator: video.creator,
                    createdAt: video.createdAt,
                    views: video.views,
                })
