extends layouts/main
include mixins/videoBlock

block content
    .home-videos
        each video in videos
            +videoBlock({
                id: video.id,
                title: video.title,
                thumbnail: video.thumbnailFile,
                creator: video.creator.avatarUrl,
                name: video.creator.name,
                views: video.views,
            })