extends layouts/main
include mixins/videoBlock

block content
    .results__wrapper
        .results__header
            h2 Searching results for: #{searchQuery}
        .search__videos
            if videos.length === 0
                h5 No Videos Found!
            .video-container#videoContainer-js
                .video-wrap#videoWrap-js
                    each video in videos
                        +videoBlock({
                            id: video.id,
                            title: video.title,
                            thumbnail: video.thumbnailFile,
                            creator: video.creator,
                            createdAt: video.createdAt,
                            views: video.views,
                        })