extends layouts/main
include mixins/videoBlock

block content
    .results__wrapper#videoContainer-js
        .results__header
            span Searching results for: 
            .results--query
                span #{searchQuery}
        .results__videos
            if videos.length === 0
                h5 No Videos Found!
            .video-container
                .video-wrap#videoWrap-js
                    each video in videos
                        +videoBlock({
                            id: video.id,
                            title: video.title,
                            thumbnail: video.thumbnailFile,
                            creator: video.creator,
                            createdAt: video.createdAt,
                            views: video.views,
                        })