mixin adviseLogin(advise={})
    .advise-login-container.hidden(id=advise.type)
        .advise-login-box
            h3=advise.header 
            p=advise.text
            .advise-login-border
            a(href=routes.signIn)
                span SIGN IN