html,
body {
  // height: 100%;
}

body {
  background-color: var(--clr-background);
  height: 100vh;
}

main {
  width: 100%;
  // height: inherit;
  margin: 0 auto;
  display: flex;
  position: relative;
}

button {
  padding: 7px;
  border: none;
  color: var(--clr-text);
  background-color: var(--clr-lightGrey);
}
