extends layouts/main
include mixins/videoBlock

block content
    .myprofile-container
        if videos.length===0
            include partials/noVideos
            include partials/userProfile
        else
            .video-container#videoContainer-js
                .video-wrap#videoWrap-js
                    each video in videos
                        +videoBlock({
                            id: video.id,
                            title: video.title,
                            thumbnail: video.thumbnailFile,
                            creator: video.creator,
                            createdAt: video.createdAt,
                            views: video.views,
                        })
            include partials/userProfile
