extends layouts/main

block content
    .video-container#videoContainer-js
        .video__upload#videoWrap-js
            .form-container
                include ./partials/previewImg
                form(action=routes.edit(video.id), method="post", enctype="multipart/form-data")
                    label(for="thumbnail") Thumbnail
                    input(type="file", id="thumbnailFile", name="thumbnailFile" accept="image/*")
                    input(type="title", name="title", placeholder="Title", maxlength="100" value=video.title)
                    textarea(name="description", placeholder="Description", rows="20")=video.description
                    input(type="submit", value="Save")
                a(href=routes.delete(video.id)) Delete Video
