mixin adviseLogin-like
    .advise-login-container.hidden#adviseLoginLike-js
        .advise-login-box
            h3 Like this video?
            p Sign in to make your opinion count.
            .advise-login-border
            a(href=routes.signIn)
                span SIGN IN

mixin adviseLogin-dislike
    .advise-login-container.hidden#adviseLoginDislike-js
        .advise-login-box
            h3 Don't you like this video?
            p Sign in to make your opinion count.
            .advise-login-border
            a(href=routes.signIn) SIGN IN

mixin adviseLogin-save
    .advise-login-container.hidden#adviseLoginSave-js
        .advise-login-box
            h3 Want to watch this again later?
            p Sign in to add this video to a playlist.
            .advise-login-border
            a(href=routes.signIn) SIGN IN