mixin sideBar
    
    .sidebar__container#sidebar-js
        .sidebar-header
            i.fas.fa-bars#sidebarBtn2-js
            a(href=routes.home)
                .header-logo
                    i.fab.fa-youtube
                    span #{siteName}
        ul.sidebar-rows
            li.sidebar-row
                i.fas.fa-home
                span Home
            li.sidebar-row
                i.fas.fa-fire
                span Trending
            li.sidebar-row
                i.fas.fa-film
                span Subsciptions
            li.sidebar-row
                i.fas.fa-book-open
                span Library
            li.sidebar-row
                i.fas.fa-history
                span History
            li.sidebar-row
                i.far.fa-play-circle
                span Your videos
            li.sidebar-row
                i.fas.fa-clock
                span Watch later
            li.sidebar-row
                i.fas.fa-thumbs-up
                span Liked videos
            li.sidebar-row
                i.fas.fa-list
                span YES