mixin sideBar
    .sidebar__container-mini#sidebarMini-js
        table.home-sidebar
            tr.homeSideBar__icon.homeSideBar-home
                td
                    i.fas.fa-home
                    span Home
            tr.homeSideBar__icon.homeSideBar-trending
                td
                    i.fas.fa-fire
                    span Trending
            tr.homeSideBar__icon.homeSideBar-subscriptions
                td
                    i.fas.fa-film
                    span Subscriptions
            tr.homeSideBar__icon.homeSideBar-library
                td
                    i.fas.fa-book-open
                    span Library
    .sidebar__container#sidebar-js
        ul.sidebar-rows
            li.sidebar-row
                i.fas.fa-home
                span Home
            li.sidebar-row
                i.fas.fa-fire
                span Trending
            li.sidebar-row
                i.fas.fa-film
                span Subsciptions
            li.sidebar-row
                i.fas.fa-book-open
                span Library
            li.sidebar-row
                i.fas.fa-history
                span History
            li.sidebar-row
                i.far.fa-play-circle
                span Your videos
            li.sidebar-row
                i.fas.fa-clock
                span Watch later
            li.sidebar-row
                i.fas.fa-thumbs-up
                span Liked videos
            li.sidebar-row
                i.fas.fa-list
                span YES