mixin socialMedia
    .share-container.shareContainer-js
        .share-block
            .share-column
                h3 Share
                p#shareClose-js X
            .share-column
                .share-btns
                    a(href="#")
                        i.fab.fa-facebook
                    a(href="#")
                        i.fab.fa-whatsapp
                    a(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-pinterest
                    a(href="#")
                        i.fab.fa-linkedin
                    a(href="#")
                        i.fab.fa-reddit
                    a(href="#")
                        i.fab.fa-wordpress-simple
                    a(href="#")
                        i.fas.fa-at