mixin videoPlayer(video = {})
    .videoPlayer#videoPlayer-js
        video(src=`/${video.src}`)
        .videoPlayer__btn-lg
            span#playBtnLg-js
                i.fas.fa-play
        .videoPlayer__controls
            .progress#videoBar-js
                .progress-bar#videoProgressBar-js
            .videoPlayer__btns
                .videoPlayer__btns-left
                    span#playBtn-js
                        i.fas.fa-play
                    span
                        i.fas.fa-step-forward#skipBtn-js
                    .videoPlayer__volume
                        span#volumeBtn-js
                            i.fas.fa-volume-up
                        input.video__volume#volume-js(type="range", name="volume" min="0", max="1", step="0.01", value="0.5")
                    span.videoPlayer__time#currentTime-js 
                    span /
                    span.videoPlayer__time#totalTime-js
                .videoPlayer__btns-right
                    span#fullScreenBtn-js
                        i.fas.fa-expand