.sidebar__container-mini#sidebarMini-js
    table.home-sidebar
        tr.homeSideBar__icon.homeSideBar-home
            td
                i.fas.fa-home
                span Home
        tr.homeSideBar__icon.homeSideBar-trending
            td
                i.fas.fa-fire
                span Trending
        tr.homeSideBar__icon.homeSideBar-subscriptions
            td
                i.fas.fa-film
                span Subscriptions
        tr.homeSideBar__icon.homeSideBar-library
            td
                i.fas.fa-book-open
                span Library
.sidebar__container#sidebar-js
    ul.sidebar-rows
        a(href=routes.home).test
            li.sidebar-row
                i.fas.fa-home
                span Home
        a(href="#")
            li.sidebar-row
                i.fas.fa-fire
                span Trending
        a(href="#")
            li.sidebar-row
                i.fas.fa-film
                span Subsciptions
        .sidebar-row__divide
        a(href="#")
            li.sidebar-row
                i.fas.fa-book-open
                span Library
        a(href="#")
            li.sidebar-row
                i.fas.fa-history
                span History
        a(href=routes.myProfile)
            li.sidebar-row
                i.far.fa-play-circle
                span Your videos
        a(href="#")
            li.sidebar-row
                i.fas.fa-clock
                span Watch later
        a(href=routes.users+routes.likedVideo)
            li.sidebar-row
                i.fas.fa-thumbs-up
                span Liked videos
        a(href="#")
            li.sidebar-row
                i.fas.fa-chevron-down
                span Show more
        .sidebar-row__divide
        .sidebar-row__category
            span SUBSCRIPTIONS
        a(href="https://github.com/bravacoreana", target="_blank" )
            li.sidebar-row
                i.fas.fa-list
                span MY GITHUB!