.social-login
    a(href=routes.github)
        button.social-login.github
            i.fab.fa-github  Continue with Github
    a(href=routes.google)
        button.social-login.google
            i.fab.fa-google  Continue with Google