.main-container {
  display: flex;
}
.video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 75px;
  @include fontSize;
}
.video-wrap {
  grid-column: 2/-1;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  justify-content: center;
  margin: 1%;
  max-height: 450px;
  max-width: 3100px;
  .videoBlock {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;
    max-height: 450px;
    max-width: 500px;
    margin: 1%;
    .videoBlock__column {
      &:first-child {
        grid-row: 1/4;
        .video__thumbnail {
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(2) {
        grid-row: 4;
        display: flex;
        align-items: center;
        margin-top: 3px;
        .video__creator-img {
          @include avatar;
        }
        .videoBlock-title {
          width: 100%;
          .video__title {
            @include ellipsis();
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
      &:nth-child(3) {
        grid-row: 5;
        padding-left: 50px;
      }
    }
  }
}
