.home {
  display: flex;
  width: 100%;
  position: relative;
}
table {
  tr {
    &:hover {
      background-color: rgba(100, 100, 100, 0.1);
    }
    td {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 3px;
      font-size: 10px;
      color: $grey;
      cursor: pointer;
      i {
        font-size: 14px;
        margin-bottom: 7px;
      }
      span {
        transform: scaleX(0.95);
      }
    }
  }
}
// .home-sidebar {
//   display: grid;
//   grid-template-columns: repeat(1, 72px);
//   grid-template-rows: repeat(12, 72px);
//   font-size: 16px;
//   align-items: center;
//   justify-items: center;
//   position: absolute;
//   .sidebar__icon {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     span {
//       margin-top: 7px;
//       font-size: 10px;
//     }
//   }
// }
.home-videos {
  display: grid;
  grid-template-columns: repeat(12, 72px);
  column-gap: 30px;
  offset: center;
  grid-auto-flow: column;
  margin: 20px 20px 20px 92px;
  .video__append {
    margin: 0px 2px;
  }
  .videoBlock {
    .video__thumbnail {
      min-width: 240px;
      height: auto;
    }
    .videoBlock__column {
      display: flex;
      .video__creator-img {
        border-radius: 30px;
        width: 35px;
      }
      .videoBlock-info {
        margin-left: 10px;
        .video__title {
          color: black;
          font-size: 14px;
        }
        .videoBlock-details {
          display: flex;
          margin-top: 5px;
          font-size: 13px;
        }
      }
    }
  }
}

// .home-videos {
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
//   justify-items: center;
//   align-items: center;
//   .videoBlock {
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
//     justify-items: center;
//     grid-gap: 5px;
//     grid-row-gap: 0px;
//     a {
//       .videoBlock__thumbnail {
//         width: 100%;
//         height: 100%;
//         margin: 5px;
//       }
//       .videoBlock__avatar {
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//       }
//     }
//   }
// }
