.main-container {
  display: flex;
  color: $grey;
  width: 100%;
  font-size: min(max(13px, 1.4vw), 14px);
}
.home-videos {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .videoBlock {
    width: 49%;
    margin: 0px 0.3%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    .videoBlock__column:first-child {
      width: 100%;
      background-color: $black;
      img {
        width: 100%;
        height: 56.25%;
        max-height: 180px;
        object-fit: cover;
      }
    }
    .videoBlock__column:nth-child(2) {
      display: flex;
      width: 100%;
      margin: 5px 0px;
      align-items: center;
      .video__creator-img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .videoBlock-title {
        width: 100%;
        .video__title {
          @include ellipsis();
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
    .videoBlock__column:last-child {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      margin-bottom: 10px;
    }
  }
}
