.upload-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .video__upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
