.video__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  @include fontSize;

  .video__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.video__column {
  width: 100%;
  max-width: 1300px;
  &:first-child {
    .video__editBtn {
      margin-top: 20px;
    }
  }
  &:nth-child(2) {
    margin-top: 20px;
    .video__title {
      color: var(--clr-text);
      font-size: 16px;
      line-height: 1.4;
      text-align: justify;
    }
    .video__detail {
      color: var(--clr-subtext);
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .video__detail-btns {
      display: flex;
      .video__detail-btn:not(:last-child) {
        margin-right: 20px;
        cursor: pointer;
        i:not(:last-child) {
          padding: 0px 5px;
        }
      }
    }
  }
  &:nth-child(3) {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .video__detail {
      display: flex;
      align-items: center;
      img {
        @include avatar($avatarL);
      }
      button {
        color: #fff;
        background-color: var(--clr-logo);
        border: none;
        padding: 9px 16px;
        margin-right: 10px;
        &:focus {
          background-color: var(--clr-lightGrey);
        }
      }
      i {
        color: var(--clr-icon);
      }
    }
  }
  &:nth-child(4) {
    margin-top: 20px;
    .video__description {
      color: var(--clr-text);
      text-align: justify;
      line-height: 1.4;
    }
  }
}

.video__comments {
  width: 100%;
  max-width: 1300px;
  margin-top: 20px;
  width: 100%;
}

.comments-view {
  font-size: 16px;
  color: var(--clr-text);
  border-top: 1px solid var(--clr-lightGrey);
  padding-top: 20px;
}

.comments-create {
  margin-top: 20px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  img {
    @include avatar($avatarM);
  }
  form {
    flex-grow: 1;
    margin-left: 10px;
    input[type="text"] {
      color: var(--clr-text);
      width: 100%;
      padding: 3px 5px;
      border: none;
      border-bottom: 1px solid var(--clr-lightGrey);
      background-color: inherit;
    }
    .video__comments-submit {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      font-size: 16px;
      color: var(--clr-icon);
      cursor: pointer;
      // button {
      //   background-color: transparent;
      //   border: none;
      //   padding: 9px 16px;
      //   cursor: pointer;
      //   &:focus {
      //     background-color: var(--clr-lightGrey);
      //   }
      // }
      input {
        border: none;
        background-color: var(--clr-lightGrey);
        margin-left: 10px;
        padding: 9px 16px;
        cursor: pointer;
      }
    }
  }
}

.comments-block {
  color: var(--clr-text);
  .comment__list {
    display: flex;
    margin-bottom: 15px;
    position: relative;
    // justify-content: space-between;
    width: 100%;
    @include fontSize;
    &:hover {
      .comment__edit__btn {
        opacity: 1;
      }
    }
  }
}

.comment__creator {
  display: flex;
  width: 100%;
  img {
    @include avatar(40px);
    margin-right: 20px;
  }
  &-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    form {
      display: none;
      width: 100%;
      input:not([type="submit"]) {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        background-color: transparent;
      }
      .video__comments-submit {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &-info {
    margin-bottom: 10px;
  }
  &-name {
    font-weight: 600;
    margin-right: 10px;
  }
  &-time {
    color: var(--clr-subtext);
    font-size: 11px;
  }
}
.comment__edit {
  position: relative;
  &__btn {
    position: absolute;
    top: 10px;
    opacity: 0;
  }
  &__container {
    display: none;
    position: absolute;
    background-color: var(--clr-subtext);
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
  }
  &-options {
    width: 120px;
    li {
      padding: 10px 12px;
      i {
        width: 20px;
      }
      &:hover {
        background-color: var(--clr-lightGrey);
      }
    }
  }
}

.comment__btns {
  display: flex;
  margin-top: 10px;
  .comment__btn {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    i {
      margin-right: 7px;
    }
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}
.selectedVideo {
  color: #017ffe;
}
// .comments-block {
//   color: var(--clr-text);
//   .comment {
//     display: flex;
//     margin-bottom: 15px;
//     @include fontSize();
//     position: relative;
//     &__creator-avatar {
//       img {
//         @include avatar(40px);
//         margin-right: 20px;
//       }
//     }
//     &__details {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-around;
//       .video__createdAt {
//         color: var(--clr-subtext);
//         margin-left: 10px;
//       }
//     }
//     &__edit {
//       position: absolute;
//       right: 0;
//       top: 10px;
//       font-size: 14px;
//       opacity: 0;
//     }
//     &:hover {
//       .comment__edit {
//         opacity: 1;
//       }
//     }
//   }
// }

// .comment {
//   position: relative;
// }
// .comment__edit {
//   position: absolute;
//   z-index: 100;
//   &:hover {
//     .comment__edit-options {
//       opacity: 1;
//     }
//   }
//   &-options {
//     position: absolute;
//     right: 0;
//     top: 20px;
//     width: 120px;
//     opacity: 0;
//   }

// &-options {
//   display: block;
//   position: absolute;
//   right: 0;
//   top: 20px;
//   background-color: var(--clr-subtext);
//   width: 120px;
//   border-radius: 2px;
//   display: none;
//   li {
//     padding: 10px;
//     cursor: pointer;
//     i {
//       width: 30px;
//     }
//     &:hover {
//       background-color: var(--clr-lightGrey);
//     }
//   }
// }
// }
