mixin theme
    ul.dropdown-content.dropdown__theme#dropdownTheme-js
        li.dropdown__back#themeGoBack-js
            i.fas.fa-arrow-left
            span Appearance
        .dropdown-row__divide
        li#preferColorScheme-js
            i.fas.fa-adjust
            span Use device theme
        li#darkColorScheme-js
            i.fas.fa-moon
            span Dark theme
        li#lightColorScheme-js
            i.fas.fa-sun
            span Light theme