@mixin ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
}

@mixin avatar($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
  margin-right: 10px;
}

@mixin headerGap {
  margin-top: 75px;
}

@mixin fontSize {
  font-size: min(max(12px, 1.4vw), 14px);
}

@mixin rowDivide {
  border-top: 1px solid var(--clr-lightGrey);
  width: 100%;
  height: 1px;
  margin: 10px 0px;
}
